@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<BookView>;

@{
    ViewData["title"] = $"Danh mục {ViewBag.title}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dataCategory = ViewBag.ListCategory != null ? ViewBag.ListCategory as List<CategoryView> : new List<CategoryView>();
    var dataBook = ViewBag.ListBook != null ? ViewBag.ListBook as List<BookView> : new List<BookView>();
    var id = ViewBag.CategoryId;
    var ctName = dataBook[0].CategoryName;

}

<div class="ht__bradcaump__area" style=" background: rgba(0, 0, 0, 0) url(/Assets/tmart/images/bg/2.jpg) no-repeat scroll center center / cover;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">@ctName</h2>
                        <nav class="bradcaump-inner">
                            @*<a class="breadcrumb-item" href="index.html">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb-item active">portfolio card 2 column</span>*@
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="portfolio-grid-area bg__white pt--130 pb--100">
    <div class="container">

        <div class="portfolio-style">
            <div class="row grid" style="position: relative; height: 2040px;">
                @foreach (var book in Model)
                {
                    <div class="col-md-6 col-sm-6 col-xs-12 grid-item cat2 cat3" style="position: absolute; left: 0%; top: 0px;">
                        <div class="single-portfolio-card mb--30">
                            <div class="portfolio-img">
                                <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@book.BookId">

                                  <img src="~/img/@book.ImagePath">
                                </a>
                                <div @*class="portfolio-icon"*@>

                                    <a class="img-poppu" href="~/img/03db34cb-abfe-49f3-9e6a-2f8f8b204ba6_book2.png">
                                        @*<i class="zmdi zmdi-instagram"></i>*@
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-title portfolio-card-title text-center">
                                <h3><a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@book.BookId">@book.BookName</a></h3>
                                <span>Design</span>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div>
   
    @Html.PagedListPager(Model, page => Url.Action($"Category", new { page }))
</div>

<style>
    .pagination{
        width: 100%;
        display: inline-flex;
    }
        .pagination > li {
            padding: 0px 0px !important;
            margin-right: 1px;
            border-radius: 5px;
        }
</style>

