@model BookView
@{
    ViewData["Title"] = Model.BookName;
    var imagePath = $"/img/{(Model.ImagePath ?? "none-imgbook.png")}";
}

<h3 class="text-center">@Model.BookName</h3>
<div class="row justify-content-center col-xl-12">
    <div class="col-xl-6 col-md-12">
        <img src="@imagePath" class="m-2" style="width: 400px; height: 450px;" />
    </div>
    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <p><b>Thể loại:</b> @Model.CategoryName</p>
                <p><b>Tác giả:</b> @Model.Author</p>
                <p><b>Ngày xuất bản:</b> @Model.DopStr</p>
                <p><b>Nhà xuất bản:</b> @Model.PublishCompany</p>
                <p><b>Tóm tắt nội dung:</b> @Model.Description</p>
                <p><b>Số trang:</b> @Model.Page</p>
                <p><b>Tổng sô lượng sách:</b> @Model.Quanity</p>
                <p><b>Số sách còn trong kho:</b> @Model.QuanityRemain</p>
                <p><b>Trạng thái:</b> @Model.StatusName</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-warning">Sửa</a>
                <a href="javascript:void(0)" class="btn btn-danger" onclick="books.delete(@Model.BookId)">Xóa</a>
                <a asp-controller="Book" asp-action="Index" class="btn btn-primary">Quay lại</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/book.js"></script>
}