@model StudentView
@{
    ViewData["Title"] = Model.StatusName;
    if (Model.AvatarPath == "none-avatar.png")
    {
        Model.AvatarPath = "none-avatar.png?v=aAV3uOswN-3pO2CQXqL8QINyLxyvHnj8hSbQVotuF2w";
    }
    var imagePath = $"/img/{(Model.AvatarPath ?? "none-avatar.png?v=aAV3uOswN-3pO2CQXqL8QINyLxyvHnj8hSbQVotuF2w")}";
}
<h3 class="display-4 text-success text-center">CHI TIẾT HỌC SINH</h3>
@if (TempData["Message"] != null)
{
    <p class="alert alert-success">@TempData["Message"]</p>
}
<h5 class="text-info m-2">Học sinh: @Model.StudentName</h5>
<div class="row justify-content-center col-xl-12">
    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <p><b>StudentId:</b> @Model.StudentId</p>
                <p><b>Tên lớp:</b> @Model.CourseName</p>
                <p><b>Giới tính:</b> @(Model.Gender == true ? "Nam" : "Nữ")</p>
                <p><b>Ngày sinh:</b> @Model.DobStr</p>
                <p><b>Số điện thoại:</b> @Model.PhoneNumber</p>
                <p><b>Email:</b> @Model.Email</p>
                <p><b>Địa chỉ:</b> @Model.AddressStr</p>
                <p><b>Trạng thái:</b> @Model.StatusName</p>
                <p><b>Ngày tạo:</b> @Model.CreatedDateStr</p>
                <p><b>Người tạo:</b> @Model.CreatedBy</p>
                <p><b>Ngày cập nhật:</b> @Model.ModifiedDateStr</p>
                <p><b>Người cập nhật:</b> @Model.ModifiedBy</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Student" asp-action="Index" class="btn btn-primary">Quay lại</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        <img src="@imagePath" class="m-2" style="width: 400px; height: 450px;" />
    </div>
</div>

