@model List<StudentView>
@{
    ViewData["Title"] = "Student List";
    var avatarPath = $"/img/none-avatar.png";
    var maxDate = DateTime.Now.ToString("yyyy/MM/dd");
}

<div class="text-left">
    <br />
    <h3 class="display-4 text-success text-center">QUẢN LÝ HỌC SINH</h3>
    @if (TempData["Message"] != null)
    {
        <p class="alert alert-success">@TempData["Message"]</p>
    }
    <a href="javascript:;" onclick="student.openModal()" class="btn btn-primary" style="width: auto;">+ Thêm học sinh</a>
    @*<a asp-controller="Book" asp-action="Create" class="btn btn-primary" style="width: auto;">+ Thêm sách mới</a>*@
    <hr />
    <table id="tbStudents" class="table table-bordered table-hover table-primary">
        <thead class="thead-dark">
            <tr>
                <th>#ID</th>
                <th>Họ và tên</th>
                <th>Tên lớp</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Trạng thái</th>
                <th>Ảnh đại diện</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                if (student.StatusName != "Deleted")
                {
                    //var actions = "";
                    //switch (book.StatusId)
                    //{
                    //    case 1:
                    //        {
                    //            actions = $"<a href='javascript: void(0)' class='text-dark ml-2' onclick='book.changeStatusToPending({book.BookId})' title='Tạm dừng'><i class='far fa-stop-circle'></i></a>";
                    //            break;
                    //        }
                    //    case 3:
                    //        {
                    //            actions = $"<a href='javascript: void(0)' class='text-success ml-2' onclick='book.changeStatusToStochking({book.BookId})' title='Cho mượn'><i class='far fa-play-circle'></i></a>";
                    //            break;
                    //        }
                    //}
            <tr>
                <td>@student.StudentId</td>
                <td>@student.StudentName</td>
                <td>@student.CourseName</td>
                <td>@(student.Gender == true ? "Nam" : "Nữ")</td>
                <td>@student.PhoneNumber</td>
                <td>@student.Email</td>
                <td class="text-center">
                    <span class="@(student.StatusId == 1? "btn btn-primary": (student.StatusId == 2? "btn btn-success" : (student.StatusId == 3? "btn btn-danger" : "btn btn-info")))" style="width: 100px; height: 40px;">
                        @student.StatusName
                    </span>
                </td>
                @*<td>@book.StatusName</td>*@
                <td class="text-center">
                    <img src="/img/@student.AvatarPath" style="width: 60px; height: 70px;" />
                </td>
                <td>
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@student.StudentId" class="text-primary m-2" title="Chi tiết"><i class="fas fa-eye"></i></a>
                    <a href="javascript:void(0)" class="text-warning m-2" onclick="student.edit(@student.StudentId)" title="Cập nhật"><i class="fas fa-edit"></i></a>
                    <a href="javascript:void(0)" class="text-danger m-2" onclick="student.delete(@student.StudentId)" title="Xóa"><i class="fas fa-trash"></i></a>
                    @*@Html.Raw(actions)*@
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="addEditStudentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="modalStudentTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @*<h4 class="text-danger" id="msg" style="display: none"></h4>*@
                <form id="fromAddEditStudent">
                    <input hidden name="StudentId" id="StudentId" value="0" />
                    <input hidden name="AvatarPath" id="AvatarPath" value="" />
                    <div class="row col-xl-12">
                        <div class="col-xl-8 col-md-12">
                            <div class="row form-group">
                                <label for="StudentName" class="col-3">Họ và tên:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Tên học sinh"
                                           id="StudentName" name="StudentName"
                                           data-rule-required="true"
                                           data-msg-required="Tên học sinh không được để trống"
                                           data-rule-maxlength="50"
                                           data-msg-maxlength="Tên học sinh quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="CourseName" class="col-3">Lớp:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Tên lớp"
                                           id="CourseName" name="CourseName"
                                           data-rule-required="true"
                                           data-msg-required="Tên lớp không được để trống"
                                           data-rule-maxlength="50"
                                           data-msg-maxlength="Tên lớp quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Gender" class="col-3">Giới tính:</label>
                                <div class="col-9">
                                    <select class="form-control" id="Gender" name="Gender"
                                            data-rule-required="true"
                                            data-msg-required="Chưa chọn giới tính">
                                        <option selected value="">-Chọn-</option>
                                        <option value="true">Nam</option>
                                        <option value="flase">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Dob" class="col-3">Ngày sinh:</label>
                                <div class="col-9">
                                    <input type="date" class="form-control" my-date-format="dd/MM/yyyy"
                                           id="Dob" name="Dob"
                                           max="@maxDate"
                                           data-rule-required="true"
                                           data-msg-required="Ngày sinh không được để trống">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Email" class="col-3">Email:</label>
                                <div class="col-9">
                                    <input type="email" class="form-control" placeholder="Email"
                                           id="Email" name="Email"
                                           data-rule-required="true"
                                           data-msg-required="Email không được để trống"
                                           data-rule-maxlength="100"
                                           data-msg-maxlength="Email quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="PhoneNumber" class="col-3">Số điện thoại:</label>
                                <div class="col-9">
                                    <input type="email" class="form-control" placeholder="Số điện thoại"
                                           id="PhoneNumber" name="PhoneNumber"
                                           data-rule-required="true"
                                           data-msg-required="Số điện thoại không được để trống"
                                           data-rule-maxlength="20"
                                           data-msg-maxlength="Số điện thoại quá dài">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="Address" class="col-3">Địa chỉ:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Địa chỉ"
                                           id="Address" name="Address"
                                           data-rule-required="true"
                                           data-msg-required="Địa chỉ không được để trống"
                                           data-rule-maxlength="100"
                                           data-msg-maxlength="Địa chỉ quá dài">
                                </div>
                            </div>
                            @*<div class="row form-group">
            <label for="Dop" class="col-3">Ngày xuất bản:</label>
            <div class="col-9">
                <input type="date" class="form-control" my-date-format="dd/MM/yyyy"
                       id="Dop" name="Dop"
                       max="@maxDate"
                       data-rule-required="true"
                       data-msg-required="Ngày xuất bản không được để trống">
            </div>
        </div>*@
                            @*<div class="row form-group">
                                <label for="PublishCompany" class="col-3">Nhà xuất bản:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Nhà xuất bản"
                                           id="PublishCompany" name="PublishCompany"
                                           data-rule-required="true"
                                           data-msg-required="Nhà xuất bản không được để trống"
                                           data-rule-maxlength="200"
                                           data-msg-maxlength="Nhà xuất bản quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Description" class="col-3">Tóm tắt nội dung :</label>
                                <div class="col-9">
                                    <textarea class="form-control" rows="3" for="Description" placeholder="Nội dung"
                                              id="Description" name="Description"
                                              data-rule-required="true"
                                              data-msg-required="Tóm tắt nội dung sách không được để trống"
                                              data-rule-maxlength="500"
                                              data-msg-maxlength="Tóm tắt nội dung sách quá dài"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Page" class="col-3">Số trang sách :</label>
                                <div class="col-9">
                                    <input type="number" class="form-control" rows="3" for="Page" placeholder="Số trang"
                                           id="Page" name="Page"
                                           min="10" max="10000"
                                           data-rule-required="true"
                                           data-msg-required="Số trang sách không được để trống"
                                           data-rule-min="20"
                                           data-msg-min="Số trang sách nhỏ hơn giá trị tối thiểu"
                                           data-rule-max="10000"
                                           data-msg-max="Số trang sách vượt quá quy định">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Quanity" class="col-3">Số lượng nhập kho:</label>
                                <div class="col-9">
                                    <input type="number" class="form-control" rows="3" for="Quanity" placeholder="Số lượng"
                                           id="Quanity" name="Quanity"
                                           min="1" max="10000"
                                           data-rule-required="true"
                                           data-msg-required="Số lượng nhập kho không được để trống"
                                           data-rule-min="1"
                                           data-msg-min="Số lượng nhập kho nhỏ hơn giá trị tối thiểu"
                                           data-rule-max="10000"
                                           data-msg-max="Số lượng nhập kho vượt quá quy định">
                                </div>
                            </div>*@
                            <div class="row form-group">
                                <label for="StatusId" class="col-3">Trạng thái:</label>
                                <div class="col-9">
                                    <select class="form-control" id="Status" name="Status"
                                            data-rule-required="true"
                                            data-msg-required="Chưa chọn trạng thái học sinh">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Avatar" class="col-3">Hình ảnh:</label>
                                <div class="col-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input form-control" placeholder="Ảnh đại diện"
                                               id="Avatar" name="Avatar"
                                               data-rule-required="true"
                                               data-msg-required="Hình ảnh sách không được để trống">
                                        <label class="custom-file-label" for="Avatar">Chọn file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="m-5">
                                <img src="@avatarPath" id="image_upload_preview" asp-append-version="true" style="width:300px; height: 300px;" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-success" onclick="student.save()">Lưu</a>
                <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal">Hủy</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Avatar").change(function () {
            readURL(this);
        });

        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
    </script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/student.js" asp-append-version="true"></script>
}