@model LoanCardDetailView
@{
    var loanCard = Model.loanCard != null ? Model.loanCard as LoanCardView : new LoanCardView();
    var bookList = Model.bookList != null ? Model.bookList as List<BookView> : new List<BookView>();
    ViewBag.Title = "Thẻ mượn " + loanCard.LoanCardId;
    int stt = 0;
}

<h3 class="display-4 text-success text-center">CHI TIẾT THẺ MƯỢN</h3>
@if (TempData["Message"] != null)
{
    <p class="alert alert-success">@TempData["Message"]</p>
}
<div class="row justify-content-center">
    <div class="m-2">
        <div class="card">
            <div class="card-body">
                <p><b>Mã ID: </b> @loanCard.LoanCardId</p>
                <p><b>Ngày mượn: </b> @loanCard.LoanOfDateStr</p>
                <p><b>Ngày trả: </b> @loanCard.ReturnOfDateStr</p>
                <p><b>Mã học sinh: </b> @loanCard.StudentId</p>
                <p><b>Tên học sinh: </b> @loanCard.StudentName</p>
                <p><b>Lớp: </b> @loanCard.CourseName</p>
                <p><b>Ngày tạo: </b> @loanCard.CreatedDateStr</p>
                <p><b>Người tạo: </b> @loanCard.CreatedBy</p>
                <p><b>Ngày sửa: </b> @loanCard.ModifiedDateStr</p>
                <p><b>Người sửa: </b> @loanCard.ModifiedBy</p>
                <p><b>Trạng thái: </b> @loanCard.StatusName</p>
                <div>
                    <table class="table table-bordered table-hover table-primary">
                        <thead class="thead-dark">
                            <tr>
                                <th>STT</th>
                                <th>Tên sách</th>
                                <th>Thể loại</th>
                                <th>Tác giả</th>
                                <th>Ngày xuất bản</th>
                                <th>Hình ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in bookList)
                            {
                                stt++;
                                <tr>
                                    <td>@stt</td>
                                    <td>@book.BookName</td>
                                    <td>@book.CategoryName</td>
                                    <td>@book.Author</td>
                                    <td>@book.DopStr</td>
                                    <td>
                                        <div class="row m-1">
                                            <img src="/img/@book.ImagePath" style="width: 30px; height: 30px;" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="LoanCard" asp-action="Index" class="btn btn-success">Quay lại</a>
            </div>
        </div>
    </div>
</div>